<% content_for :sitemap do %>
    <span class="current">广告商</span>
<% end %>
<div class="toolbar">
  <form class="form-inline" action="<%= admin_partners_path %>">
    <div class="form-group">
      <input type="text" name="q" class="form-control" value="<%= params[:q] %>" placeholder="名称"/>
    </div>
    <!--<div class="form-group">-->
    <!--<%= select_tag(:type, options_for_select([['全部类别', ''], ['组织', 'Team']], params[:type]), class: 'form-control') %>-->
    <!--</div>-->
    <button class="btn btn-default">搜索</button>
  </form>
  <div class="pull-right">
    <%= link_to '增加', new_admin_partner_path, class: "btn btn-info" %>
  </div>
</div>

<table class="table table-bordered table-striped table-condensed">
  <tr class="head">
    <td class="first">#</td>
    <td>名称</td>
    <td>公司名称</td>
    <td>奖励金额</td>
    <td>注册时间</td>
    <td>导流情况</td>
    <td>操作</td>
  </tr>

  <% @partners.each do |partner| %>
      <tr>
        <td class="first"><%= partner.id %></td>
        <td><%= partner.name %></td>
        <td><%= partner.company %></td>
        <td><%= partner.reward_amount %></td>
        <td><%= partner.created_at.to_date %></td>
        <td><%= link_to '查看',visit_info_admin_partner_path(partner.id) %></td>
        <td>
          <%= link_to '', edit_admin_partner_path(partner.id), class: "fa fa-pencil" %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @partners %>
